body{
    background-color: #fffdfc;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: #565656;

}

.heading {
    text-align: center;
    color: #f38630;
}

hr{
    color: #f38630;
}

.h1 {
    text-align: center;
    color: #565656;
    height: 6em;
    padding-right: 5px;
    margin-top: 10px;
}

.h2 {
    text-align: center;
    color: #f38630;
    height: 6em;
    padding-right: 5px;
}

.game-area {
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    
}

img {
    margin: 10px;
}


  /*---Footer-----*/
.footer {
    font-family: Raleway, sans-serif;
    background: #f38630;
    margin: auto;
    padding-top: 6px;
    text-align: center;
    text-decoration: none;
    padding-bottom:2px;
    color: #ffffff;
    margin-top: 80px;
    
  }