body{
    background-color: #fffdfc;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: #f38630;

}

.heading {
    text-align: center;
    color: #f38630;
}

.logo {
    height: 6em;
    padding-right: 5px;
}

.h1 {
    text-align: center;
    color: #f38630;
    height: 6em;
    padding-right: 5px;
}